@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s all ease;
}
body {
  color: aliceblue;
  background-color: #0f0e17;
  font-family: 'Quicksand', sans-serif;
}
.header {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.header__title {
  padding-top: 20px;
}
.container__url {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}
.container__url > label {
  padding: 20px 0;
  display: block;
}
input[type="text"] {
  min-width: 300px;
  display: block;
  padding: 8px;
  color: aliceblue;
  border: 1px solid aliceblue;
  background-color: #0f0e17;
  border-radius: 6px;
  outline-color: rgba(255, 0, 179, 0.774);
}
input[type="text"]:focus{
  outline: 0 none;    
  border-color: rgba(255, 0, 179, 0.774);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(234, 33, 241, 0.885);
}
input[type="submit"] {
  cursor: pointer;
  font-weight: bold;
  border-radius: 6px;
  color: aliceblue;
  border: 1px solid #333;
  background-color: #0f0e17;
  width: 150px;
  margin: 30px 0;
  padding: 4px;
  display: block;
}
input[type="submit"]:hover, input[type="submit"]:active{
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(234, 33, 241, 0.885);
  background-color: rgba(255, 0, 179, 0.597);
  border: 1px solid rgba(255, 0, 179, 0.774);
}
#codigo {
  display: none;
}
.container__Qr{
  display: none;
  text-align: center;
}
.btn__copy{
  margin-top: 15px;
  padding: 10px;
  color: aliceblue;
  background: none;
  font-weight: bold;
  cursor: pointer;
  border: 0;
}
.btn__copy:hover, .btn__copy:active{
  color: rgba(255, 0, 179, 0.774);
}
.footer{
  width: 100%;
  height: 80px;
  color: aliceblue;
}
.container__list{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.list__item{
  list-style: none;
}
.item{
  color: #888;
  text-decoration: none;
  transition: all .3s;
}
.item:hover{
  color:rgba(255, 0, 179, 0.774);
}
.footer__container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.footer__text{
  letter-spacing: 1px;
  font-size: 11px;
  color: #888;
}